.moveable-list {


  ul {
    .item {
      position: relative;
      border: 1px solid green;
      height: 50px;

      .shadow {
        background-color: pink;
        position: absolute;
      }

      .dragging-icon {
        margin-left: 200px;
      }

      .label {
        margin-left: 200px;
      }



    }

  }
}