.app {
  text-align: left;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menus {
  list-style-type: none;
  padding: 0;

  li {
    display: inline;
    margin-left: 10px;
    padding: 10px;
    background-color: pink;

    &.selected {
      background-color: yellow;
    }

    a {
      text-decoration: none;
      color: black;
      font-family: Consolas;
      font-size: 20px;
      user-select: none;
      margin: -10px;
      padding: 10px;
    }
  }

  li:hover {
    background-color: yellow;
  }
}